@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





:root {
    --bg-clr: #ffffff;
    --acc-clr: #FEA269;
    --fnt-clr: black;
    --secondary-fnt-clr: #909090;
}

a {
    color: black;
    text-decoration: none;
}



body {
    background-color: var(--bg-clr);
    font-family: 'Poppins', sans-serif;

}

header {
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 50px;
    background-color: var(--bg-clr);
    z-index: 99;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.06);

}

//Navigation styles

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;


}


.logo {
    height: 110px;
    width: 110px;
    padding-left: 10px;
}

.nav-links {

    a {
        color: black;
        transition: all 500ms;
        padding-right: 10px;

        &:hover {
            color: var(--acc-clr);
            text-decoration: underline;
        }
    }

}

.nav-btn {
    padding-right: 15px;
    color: black;
    transition: all 500ms;
    width: 150px;

    &:hover {
        color: var(--acc-clr);
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

}


// Hero Section Style

.hero {
    width: 100%;
    margin-top: 150px;
    height: 100vh;

}

.hero_title {
    display: flex;

    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    margin-bottom: 100px;

   svg {
    fill: var(--acc-clr);
    margin-right: 50px;
   }


}

h1 {
    font-size: 4rem;
    font-weight: 600;

    width: 65%;
    line-height: 5rem;


    span {
        transition: all 500ms;

        text-decoration: underline;

        &:hover {
            color: var(--acc-clr);
        }
    }

}

.hero_box {
    width: 100%;
    display: flex;

    margin: 0 auto;
    position: relative;


}

.hero_svg-side {
    fill: var(--secondary-fnt-clr);
    z-index: -1;
    align-self: center;

}


.hero_img {
    width: 850px;
    height: 600px;


    img {
        object-fit: cover;
        width: 800px;
        height: 600px;
    }
}


.hero_info {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    width: auto;
    margin: 0 auto;
    margin: 15px;
    margin-left: 250px;
    font-size: 1.7rem;



}

.hero-subheader {
    width: 75%;
}

.hero-btn {
    margin: 50px;
    margin-left: 375px;
    transition: all 500ms;
    width: auto;



    &:hover {
        color: var(--acc-clr);


        i {


            transform: rotate(405deg);


        }


    }



    a {
        width: auto;



    }




}



.squares {
    display: flex;
    flex-flow: row wrap;
    width: 150px;
    height: 50px;
    z-index: 10;
    //position: absolute;

    justify-content: space-between;

    align-self: center;

    margin-top: 25px;


    svg {
        margin: 15px;



    }




}

#svg1 {
    margin-left: 25px;
}


.hero_svg-side {
    padding-bottom: 450px;
}



/// About Section
///
///

.about {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 150px;
    padding-bottom: 150px;

}

.about_info {
    display: flex;

    width: 100%;

    justify-content: flex-end;


}

.about_info-text {
    display: flex;
    flex-flow: column nowrap;

    width: 75%;
    height: 600px;

    background-color: var(--secondary-fnt-clr);
    margin-left: 125px;
    z-index: 5;

    transform: translateX(25px);


    h2 {
        font-size: 4.4rem;
        padding: 75px;
        color:white;
    }

    ul {
        padding-left: 75px;
        padding-right: 25px;
        width: 85%;
        list-style-position: outside;
        list-style-type: '- ';
    }
    li {
        font-size: 1.2rem;
        margin-right: 15px;

        color: var(--bg-clr);


        margin-bottom: 25px;
        padding-bottom: 25px;

        &:nth-child(1) {
            border-bottom: 2px solid var(--bg-clr);
        }
    }

}





.about_img {
    width: 65%;
    height: 650px;
    background-image: url(../img/MONARCH\ CONSTRUCTION_transparent.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    z-index: 0;

    margin-top: 125px;
}


.about_svg-side {
    margin-top: 575px;
    fill: var(--acc-clr);
}




// Partners Banner


.partners {
    width: 100%;
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;


    padding-bottom: 100px;



    strong {
        font-size: 3rem;
        font-weight: bold;
    }
}


.partner_logos {
    display: flex;

    width: 45%;

    justify-content: center;


    img {
        width: 250px;
        height: 250px;
        object-fit: contain;
    }

}


// Services Section

.services {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    padding-bottom: 100px;


    h3 {
        font-size: 3rem;
        font-weight: bold;

        padding-left: 150px;
        padding-bottom: 75px;


    }

}


.services_subtitle {
    margin-left: 150px;
    width: 45%;
    font-size: 1.3rem;
    color: var(--secondary-fnt-clr);

}


.services_box {
    width: 65%;
    border-left: 2px solid var(--acc-clr);

    display: flex;
    flex-flow: column nowrap;

    align-self: center;
    margin-top: 100px;



}


.services_box-service {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
        height: 200px;
        width: 200px;
        margin-left: 35px;
    }
}

.service-details {
    display: flex;
   flex-flow: column nowrap;
   margin-left: 35px;
   line-height: 1.9rem;;

   strong {
    font-size: 2rem;
    color: var(--acc-clr);
    margin-bottom: 15px;

   }

   p {
    font-size: 1.3rem;
    width: 85%;
   }
}

.services-btn {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2rem;
    align-self: flex-end;
    padding-right: 50px;
    transition: all 500ms;

    i {
        align-self: flex-end;
        transform: translateX(25px);
    }

    &:hover {
        color: var(--acc-clr);
    }
}


// Values Section

.values {
    width: 100%;
    display: flex;

    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

}

.values_box {
    width: 90%;
    display: flex;


        position: relative;

    align-items: center;


    svg {
        z-index: 5;
        position: absolute;
        left: 650px;
        bottom: 600px;
        fill: var(--acc-clr);
    }
}


.values_image {
    width: 45%;
    height: 900px;
    background-image: url(../img/pexels-fauxels-3184292.jpg);


    z-index: 1;



}


.values_info {
    width: 35%;
    //height: 600px;
    background-color: var(--secondary-fnt-clr);

		padding-bottom: 5rem;

    z-index: 3;

    transform: translateX(-55px);

    isolation: isolate;
    position: relative;

    


    strong {

            color: var(--bg-clr);
        position: absolute;
        padding: 50px;

        font-size: 3.5rem;
        transform: translateY(50px);
    }


    ul {
        margin-left: 75px;
        padding-top: 250px;
        list-style: " - ";
        list-style-position: inside;
        color: var(--bg-clr);


        li {
            font-size: 1.5rem;
            border-bottom: 1px solid var(--acc-clr);
            padding-bottom: 25px;
            padding-top: 25px;
            width: 90%;
        }
    }
}


.values_btn {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2rem;
    align-self: flex-end;
    padding-right: 50px;
    transition: all 500ms;

    i {
        align-self: flex-end;
        transform: translateX(25px);
    }

    &:hover {
        color: var(--acc-clr);
    }

}

/// Contact Section
///
///
///


.contact {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    margin-top: 200px;
    background-color: var(--acc-clr);
}

.contact_box {
    display: flex;
margin-top: 100px;
    width: 100%;


    svg {
        margin-left: 60%;
        margin-top: 50px;
        position: absolute;
        fill: var(--secondary-fnt-clr);
    }
}

.contact_box-info {
    width: 400px;
    height: 350px;
    background-color: var(--bg-clr);
    position: relative;
    margin-left: 200px;



    strong {
        font-size: 2rem;
        padding-left: 75px;
        padding-top: 50px;
        position: absolute;

    }

    p {

        font-size: 1.3rem;
        padding-left: 75px;
        margin-top: 95px;
        text-decoration: underline;
        padding-bottom: 5px;


    }
}

// footer section


footer {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--acc-clr);

}

.footer_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}


.footer_container-social-icons {
    font-size: 1.5rem;

    i {
        padding-right: 20px;
        font-size: 2rem;
        cursor: pointer;
    }
}



// Price - Card Styling



.price-card-container {
    display: grid;
    place-content: center;

    padding-top: 9rem;



}


.price-card-container-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;
}

.price-card-container-subtitle {
    font-size: 1rem;
    text-align: center;

    color:rgb(144, 144, 144);
    margin-bottom: 8rem;
}

.price-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

.price-card {
    
    display: flex;
    flex-flow: column nowrap;
    min-width: 375px;

    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.185);


    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 16rem;
    margin-right: 2rem;

    transition: all 350ms;

    &:hover {
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.185);
    }
}




.price-card-header{
    
    padding-left: 3rem;
    padding-right: 3rem;




}


.price-card-price {
    font-size: 2.5rem;
    padding-bottom: 2rem;

}

.price-card-title {
    font-size: 1.5rem;
   
 }


.price-card-description {
    padding-top: 2rem;
}





.price-card-btn {
    margin: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    border: none;

    cursor: pointer;

    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.185);
    
    transition: all 350ms;


    &:hover {
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.185);
    }
}


.price-card-feature-list {

    padding-left: 3rem;
    padding-right: 3rem;


    li {
        margin-bottom: 1.5rem;
    }
}


// Testimonial Style

#testimonials {
    display: grid;
    place-items: center;

}


.testimonials_header {
    text-align: center;

    strong {
        font-size: 5rem;
        font-weight: bold;

    }

    p {
        font-size: 1rem;
        color:rgb(144, 144, 144);

        padding-top: 1.5rem;
    }
}

.testimonials_container {
    display: flex;
    flex-flow: wrap;

    margin-top: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;

    justify-content: center;
}

.testimonial_card {
    display: flex;
    flex-flow: nowrap;

    margin: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;

    border: none;
    border-radius: 1rem;


    width: 45%;
    




}


.testimonial_img-container{
    max-height: 125px;
    max-width: 125px;


    margin: 1rem;


    border-radius: 50vh;

    overflow: hidden;

   object-fit: cover ;
   object-position: center;
   

        
    
}


.testimonial_card-image {
    width: 150px;
    height: 150px;
    
}

.testimonial_card-info {
    display: flex;
    flex-flow: column nowrap;

    margin-left: 2rem;
    margin-right: 2rem;

    max-width: 65%;
}


.testimonial_card-name {
    margin-bottom: .5rem;
    
    font-size: 2rem;
}

.testimonial_card-company {
    margin-bottom: 1rem;
    font-weight: bold;
}

.testimonial_card-quote {
    line-height: 1.5rem;
}


/// Utility Classes
/// 
/// 
/// 
/// 
/// 


.shadow {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.185);

    transition: all 250ms;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.250)
    }
    
}



